<div ng-controller = "GradoviCtrl as gctrl">
    <div ng-controller = "PrevozniciCtrl as prctrl">
        <!-- <div>
            <ul>
                <li>Vrijeme polaska: {{pctrl.linija.vrijemePolaska}}</li>
                <li>Vrijeme dolaska: {{pctrl.linija.vrijemeDolaska}}</li>
                <li ng-repeat = "g in gctrl.gradovi" ng-if = "g['id'] == pctrl.linija.polaziste">Polaziste: {{g['naziv']}}</li>
                <li ng-repeat = "g in gctrl.gradovi" ng-if = "g['id'] == pctrl.linija.odrediste">Odrediste: {{g['naziv']}}</li>
                <li ng-repeat = "pr in prctrl.prevoznici" ng-if = "pr['id'] == pctrl.linija.prevoznik">Prevoznik: {{pr['naziv']}}</li>
                <li>Slobodna mjesta: {{pctrl.linija.slobodnaMjesta}}</li>
                <li>Cijena linije: {{pctrl.linija.cijenaLinije}}</li>
            </ul>
            <a ui-sref="izmjenaLinije({id: pctrl.linija.id})">Izmijeni</a>
        </div> -->

        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                    <div class="card">
        
                        <div class="card-body text-center">
                            <h5 class="card-title">Linija</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><b>Vrijeme polaska:</b> {{pctrl.linija.vrijemePolaska}}</li>
                                <li class="list-group-item"><b>Vrijeme dolaska:</b> {{pctrl.linija.vrijemeDolaska}}</li>
                                <li class="list-group-item" ng-repeat="g in gctrl.gradovi" ng-if="g['id'] == pctrl.linija.polaziste"><b>Polaziste:</b> {{g['naziv']}}</li>
                                <li class="list-group-item" ng-repeat="g in gctrl.gradovi" ng-if="g['id'] == pctrl.linija.odrediste"><b>Odrediste:</b> {{g['naziv']}}</li>
                                <li class="list-group-item" ng-repeat="pr in prctrl.prevoznici" ng-if="pr['id'] == pctrl.linija.prevoznik"><b>Prevoznik:</b> {{pr['naziv']}}</li>
                                <li class="list-group-item"><b>Slobodna mjesta:</b> {{pctrl.linija.slobodnaMjesta}}</li>
                                <li class="list-group-item"><b>Cijena linije:</b> {{pctrl.linija.cijenaLinije}}</li>
                            </ul>
                            <br>
                            <a ui-sref="izmjenaLinije({id: pctrl.linija.id})" class="btn btn-outline-info btn-sm">Izmijeni</a>
        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
