
<br>
<br>
<div class="row">
    
    <div class="col-12">
        <table class="table table-hover">
            <caption>Tabela gradova</caption>
            <thead class="table-info">
                <tr>
                    <th>#</th>
                    <th>Naziv</th>
                    <th>Akcije</th>
                </tr>
            </thead>
            <tbody>
                
                <tr ng-repeat="p in pctrl.gradovi | filter:searchText | orderBy: 'naziv'">
                    
                    <td>{{$index+1}}</td>
                    
                    <td><a ui-sref="grad({id: p['id']})">{{p["naziv"]}}</a></td>
                    
                    <td><button class="btn btn-outline-danger btn-sm" ng-click="pctrl.ukloniGrad(p['id'])">Ukloni</button></td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <button class="btn btn-outline-info" ui-sref="dodavanjeGrada">Dodavanje grada</button>
    </div>
</div>