<div class="row">
    <div class="col-12">
        
        <form ng-submit="pctrl.sacuvaj()" name="prevoznikForma">
            <div class="form-group">
                <label for="naziv">Naziv:</label>
                
                <input ng-class="{'is-invalid': prevoznikForma['naziv'].$invalid}" type="text" name="naziv" id="naziv"
                    class="form-control" ng-model="pctrl.noviPrevoznik.naziv" required>
            </div>
            
            <div class="form-group">
                
                <input type="submit" ng-if="pctrl.noviPrevoznik['id']" value="Izmijeni prevoznika" class="btn btn-outline-primary btn-sm">
                <input type="submit" ng-if="!pctrl.noviPrevoznik['id']" value="Dodaj prevoznika" class="btn btn-outline-primary btn-sm">
            </div>
        </form>
    </div>
</div>