<style>
    body {
  background: #f7f7f7;
}

.form-box {
  max-width: 500px;
  margin: auto;
  padding: 50px;
  background: #f5f5f5;;
  border: 10px solid #f2f2f2;
}

h1, p {
  text-align: center;
}

input, textarea {
  width: 100%;
}
</style>

<div ng-controller="KorisniciCtrl as kctrl">
    <div ng-controller="LinijeCtrl as lctrl">
        <div ng-contoller = "GradoviCtrl as gctrl">
        
        <div class="form-box">
            <h1>Izdavanje karte</h1>
            
            <form ng-submit="pctrl.sacuvaj()" name="kartaForma">
                <div class="form-group">
                    <label for="povratna">Povratna:</label>
                    <select class="form-control" id="povratna" name="povratna" ng-model="pctrl.novaKarta.povratna">
                        <option value="" disabled selected hidden>Izaberite...</option>
                        <option value="0">Ne</option>
                        <option value="1">Da</option>
                    </select>
                    
                </div>
                <div class="form-group">
                    <label for="korisnikID">Korisnik:</label>
                    <select class="form-control" id="korisnikID" name="korisnikID"
                        ng-options="korisnik.id as (korisnik.ime + ' ' + korisnik.prezime) for korisnik in kctrl.korisnici" ng-model="pctrl.novaKarta.korisnikID">
                    </select>
                    
                </div>
                <div class="form-group">
                    <label for="linijaID">Linija:</label>
                    <select class="form-control" id="linijaID" name="korisnikID" ng-options="l.id as (l.vrijemePolaska + ' ' + ' ' + lctrl.imenaGradova[l['polaziste']]['naziv']+ ' --- ' + l.vrijemeDolaska + ' ' + lctrl.imenaGradova[l['odrediste']]['naziv']) for l in lctrl.linije"
                        ng-model="pctrl.novaKarta.linijaID">
                    </select>
                    <!-- Pojavljuje se alert u slucaju da ta linija nema vise slobodnih mjesta -->
                    <div ng-repeat = "l in lctrl.linije" ng-if="l['id'] == pctrl.novaKarta.linijaID && l['slobodnaMjesta'] < 1" class="alert alert-danger" role="alert">
                        Mjesta su popunjena! Izaberite drugu liniju!
                    </div>
                </div>
                <div class="form-group">
                    <label for="cijena">Cijena:</label>
                    <p ng-repeat = "l in lctrl.linije" ng-if = "l['id'] == pctrl.novaKarta.linijaID" class="form-control">{{l.cijenaLinije}}</p>    
                </div>
                <div class="form-group">
                
                    <input type="submit" ng-if="pctrl.novaKarta['id']" value="Izmijeni kartu" class="btn btn-outline-dark">
                    <input type="submit" ng-if="!pctrl.novaKarta['id']" value="Dodaj kartu" class="btn btn-outline-dark">
                </div>
        
            </form>
        </div>
    </div>
</div>
</div>