<!-- <div>
    <ul>
        <li>Naziv: {{pctrl.grad.naziv}}</li>
    </ul>
    <a ui-sref="izmjenaGrada({id: pctrl.grad.id})">Izmijeni</a>
</div> -->

<div class="card text-center">
    <div class="card-header">
        Grad
    </div>
    <div class="card-block">
        <br>
        <br>
        
        <h4 class="card-title">{{pctrl.grad.naziv}}</h4>
        <br>
        <br>
        <a class="btn btn-outline-info btn-sm" ui-sref="izmjenaGrada({id: pctrl.grad.id})">Izmijeni</a>
        <br>
        <br>
    </div>
</div>
<br>
<br>

