
<br>
<br>
<div ng-controller = "GradoviCtrl as gctrl">
    <div ng-controller = "PrevozniciCtrl as prctrl">
        <div class="row">
            
            <div class="col-12">
                <table class="table table-hover">
                    <caption>Tabela linija</caption>
                    <thead class="table-info">
                        <tr>
                            <th>#</th>
                            <th>Vrijeme polaska</th>
                            <th>Vrijeme dolaska</th>
                            <th>Polaziste</th>
                            <th>Odrediste</th>
                            <th>Prevoznik</th>
                            <th>Slobodna mjesta</th>
                            <th>Cijena linije</th>
                            <th>Akcije</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr ng-repeat="p in pctrl.linije | filter:searchText">
                            
                            <td><a ui-sref="linija({id: p['id']})">{{$index+1}}</a></td>
                            
                            <td>{{p["vrijemePolaska"]}}</td>
                            <td>{{p["vrijemeDolaska"]}}</td>
                            <td ng-repeat = "g in gctrl.gradovi" ng-if = "g['id'] == p['polaziste']">{{g["naziv"]}}</td>
                            <td ng-repeat = "g in gctrl.gradovi" ng-if = "g['id'] == p['odrediste']">{{g["naziv"]}}</td>
                            <td ng-repeat = "pr in prctrl.prevoznici" ng-if = "pr['id'] == p['prevoznik']">{{pr["naziv"]}}</td>
                            <td>{{p["slobodnaMjesta"]}}</td>
                            <td>{{p["cijenaLinije"]}}</td>
                            
                            <td><button class="btn btn-outline-danger btn-sm" ng-click="pctrl.ukloniLiniju(p['id'])">Ukloni</button></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <br>
                <button class="btn btn-outline-info" ui-sref="dodavanjeLinije">Dodavanje linije</button>
            </div>
        </div>
    </div>
</div>