<div ng-controller = "TipoviCtrl as tctrl">
    <div class="row">
        <div class="col-12">
            
            <form ng-submit="pctrl.sacuvaj()" name="korisnikForma">
                <div class="form-group">
                    <label for="ime">Ime:</label>
                    
                    <input ng-class="{'is-invalid': korisnikForma['ime'].$invalid}" type="text" name="ime" id="ime"
                        class="form-control" ng-model="pctrl.noviKorisnik.ime" required>
                </div>
                <div class="form-group">
                    <label for="prezime">Prezime:</label>
                    <input ng-class="{'is-invalid': korisnikForma['prezime'].$invalid}" type="text" name="prezime" id="prezime" class="form-control"
                        ng-model="pctrl.noviKorisnik.prezime" required>
                </div>
                <div class="form-group">
                    <label for="kod">Kod:</label>
                    <input ng-class="{'is-invalid': korisnikForma['kod'].$invalid}" type="number" name="kod" id="kod" min="0"
                         class="form-control" ng-model="pctrl.noviKorisnik.kod" required>
                </div>
                <div class="form-group">
                    <label for="stanje">Stanje:</label>
                    <input ng-class="{'is-invalid': korisnikForma['stanje'].$invalid}" type="number" name="stanje"
                        id="stanje" min="0" step = "0.01" class="form-control" ng-model="pctrl.noviKorisnik.stanje" required>
                </div>
                <div class="form-group">
                    <label for="tipID">Tip:</label>
                        <select class="form-control" id="tipID" name="tipID"
                            ng-options="t.id as t.naziv  for t in tctrl.tipovi" ng-model="pctrl.noviKorisnik.tipID">
                        </select>
                </div>
                <div class="form-group">
                    
                    <input type="submit" ng-if="pctrl.noviKorisnik['id']" value="Izmijeni korisnika" class="btn btn-outline-primary btn-sm">
                    <input type="submit" ng-if="!pctrl.noviKorisnik['id']" value="Dodaj korisnika" class="btn btn-outline-primary btn-sm">
                </div>
            </form>
        </div>
    </div>
</div>