
<br>
<br>
<div ng-controller = "KorisniciCtrl as kctrl">
    <div ng-controller="LinijeCtrl as lctrl">
    <div class="row">
        
        <div class="col-12">
            <table class="table table-hover">
                <caption>Tabela karata</caption>
                <thead class="table-info">
                    <tr>
                        <th>#</th>
                        <th>Povratna</th>
                        <th>Korisnik</th>
                        <th>Linija</th>
                        <th>Cijena</th>
                        <th>Akcije</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr ng-repeat="p in pctrl.karte | filter:searchText">
                        
                        <td><a ui-sref="karta({id: p['id']})">{{$index+1}}</a></td>
                        
                        <td ng-if = "p['povratna'] == 0">Ne</td>
                        <td ng-if="p['povratna'] == 1">Da</td>
                        <td ng-repeat = "k in kctrl.korisnici" ng-if = "p['korisnikID'] == k['id']">{{k["ime"]}} {{k['prezime']}}</td>
                        <!-- <td>{{p["linijaID"]}}</td> -->
                        <td  ng-repeat="l in lctrl.linije" ng-if="p['linijaID'] == l['id']">
                            {{pctrl.naziviGradova[l['polaziste']-1]['naziv']}} : {{l['vrijemePolaska']}} --
                            {{pctrl.naziviGradova[l['odrediste']-1]['naziv']}} : {{l['vrijemeDolaska']}} </li>
                        <td>{{p["cijena"]}}</td>
                        
                        <td><button class="btn btn-outline-danger btn-sm" ng-click="pctrl.ukloniKartu(p['id'])">Ukloni</button></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>
            <button class="btn btn-outline-info btn-sm" ui-sref="dodavanjeKarte">Izdavanje karte</button>
        </div>
    </div>
</div>
</div>