
<br>
<br>
<div class="row">
    
    <div class="col-12">
        <table class="table table-hover">
            <caption>Tabela tipova</caption>
            <thead class="table-info">
                <tr>
                    <th>#</th>
                    <th>Naziv</th>
                    <th>Snizenje %</th>
                    <th>Akcije</th>
                </tr>
            </thead>
            <tbody>
                
                <tr ng-repeat="p in pctrl.tipovi | filter:searchText">
                    
                    <td>{{$index+1}}</td>
                    
                    <td><a ui-sref="tip({id: p['id']})" class="text-info">{{p["naziv"]}}</a></td>
                    <td>{{p["snizenje"]}}</td>
                    <td><button class="btn btn-outline-danger btn-sm" ng-click="pctrl.ukloniTip(p['id'])">Ukloni</button></td>
                </tr>
            </tbody>
        </table>
        <br>
        <button class="btn btn-outline-info" ui-sref="dodavanjeTipa">Dodavanje tipa</button>
        <br>
    </div>
    <br>
</div>