<div class="row">
    <div class="col-12">
        
        <form ng-submit="pctrl.sacuvaj()" name="tipForma">
            <div class="form-group">
                <label for="naziv">Naziv:</label>
                
                <input ng-class="{'is-invalid': tipForma['naziv'].$invalid}" type="text" name="naziv" id="naziv"
                    class="form-control" ng-model="pctrl.noviTip.naziv" required>
            </div>
            <div class="form-group">
                <label for="snizenje">Snizenje u procentima:</label>
                <input type="number" name="snizenje" id="snizenje" class="form-control" ng-model = "pctrl.noviTip.snizenje" min="0" max="100">
            </div>
            
            <div class="form-group">
                
                <input type="submit" ng-if="pctrl.noviTip['id']" value="Izmijeni tip" class="btn btn-outline-dark">
                <input type="submit" ng-if="!pctrl.noviTip['id']" value="Dodaj tip" class="btn btn-outline-dark">
            </div>
        </form>
    </div>
</div>