<div class="card text-center">
    <div class="card-header">
        Tip
    </div>
    <div class="card-block">
        <br>
        <br>
        
        <h4 class="card-title">{{pctrl.tip.naziv}}</h4>
        <h4 class="card-title">Snizenje: {{pctrl.tip.snizenje}}%</h4>
        <br>
        <br>
        <a class="btn btn-outline-info btn-sm" ui-sref="izmjenaTipa({id: pctrl.tip.id})">Izmijeni</a>
        <br>
        <br>
    </div>
</div>