<div class="row">
    <div class="col-12">
        
        <form ng-submit="pctrl.sacuvaj()" name="gradForma">
            <div class="form-group">
                <label for="naziv">Naziv:</label>
                
                <input ng-class="{'is-invalid': gradForma['naziv'].$invalid}" type="text" name="naziv" id="naziv"
                    class="form-control" ng-model="pctrl.noviGrad.naziv" required>
            </div>
            
            <div class="form-group">
                
                <input type="submit" ng-if="pctrl.noviGrad['id']" value="Izmijeni grad" class="btn btn-outline-dark">
                <input type="submit" ng-if="!pctrl.noviGrad['id']" value="Dodaj grad" class="btn btn-outline-dark">
            </div>
        </form>
    </div>
</div>