<div class="card text-center">
    <div class="card-header">
        Prevoznik
    </div>
    <div class="card-block">
        <br>
        <br>

        <h4 class="card-title">{{pctrl.prevoznik.naziv}}</h4>
        <br>
        <br>
        <a class="btn btn-outline-info btn-sm" ui-sref="izmjenaPrevoznika({id: pctrl.prevoznik.id})">Izmijeni</a>
        <br>
        <br>
    </div>
</div>