<style>
    body {
        background: #f7f7f7;
    }

    .form-box {
        max-width: 500px;
        margin: auto;
        padding: 50px;
        background: #f5f5f5;
        ;
        border: 10px solid #f2f2f2;
    }

    h1,
    p {
        text-align: center;
    }

    input,
    textarea {
        width: 100%;
    }
</style>

<div ng-controller = "GradoviCtrl as gctrl">
    <div ng-controller = "PrevozniciCtrl as prctrl">
        <div class="row">
            <div class="col-12">
                <div class="form-box">
                    <h1 ng-if="!pctrl.novaLinija['id']">Dodavanje linije</h1>
                    <h1 ng-if="pctrl.novaLinija['id']">Izmjena linije</h1>
                    <form ng-submit="pctrl.sacuvaj()" name="linijaForma">
                        <div class="form-group">
                            <label for="vrijemePolaska">Vrijeme polaska:</label>
                            
                            <input ng-class="{'is-invalid': linijaForma['vrijemePolaska'].$invalid}" type="datetime-local" name="vrijemePolaska" id="vrijemePolaska"
                                class="form-control" ng-model="pctrl.novaLinija.vrijemePolaska" required min="{{pctrl.trenutnoVrijeme}}">
                                
                        </div>
                    
                        <div class="form-group">
                            <label for="vrijemeDolaska">Vrijeme dolaska:</label>
                        
                            <input ng-class="{'is-invalid': linijaForma['vrijemeDolaska'].$invalid}" type="datetime-local" name="vrijemeDolaska"
                                id="vrijemeDolaska" class="form-control" ng-model="pctrl.novaLinija.vrijemeDolaska" required min="{{pctrl.trenutnoVrijeme}}">
                        </div>
                        
                        <div class="form-group">
                            <label for="polaziste">Polaziste:</label>
                            <select ng-model="pctrl.novaLinija.polaziste" ng-options="g['id'] as g['naziv'] for g in gctrl.gradovi" class= "form-control" id="polaziste"></select>
                        </div>
                        <div class="form-group">
                            <label for="odrediste">Odrediste:</label>
                            <select ng-model="pctrl.novaLinija.odrediste" ng-options="g['id'] as g['naziv'] for g in gctrl.gradovi"  class="form-control" id="odrediste"></select>
                        </div>
                        <!-- Ispitujemo da li je korisnik odabrao isti grad za polaziste i odrediste.
                             Ukoliko jeste, izbacuje se alert i dugme za dodavanje je disabled.
                        -->
                        <div ng-if="pctrl.novaLinija.polaziste == pctrl.novaLinija.odrediste"
                            class="alert alert-danger" role="alert">
                            Izabrali ste isti grad za polaziste i odrediste!
                        </div>
                        <div class="form-group">
                            <label for="prevoznik">Prevoznik:</label>
                            <select ng-model="pctrl.novaLinija.prevoznik" ng-options="p['id'] as p['naziv'] for p in prctrl.prevoznici" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label for="slobodnaMjesta">Slobodna mjesta:</label>
                            <input ng-class="{'is-invalid': korisnikForma['slobodnaMjesta'].$invalid}" type="number" name="slobodnaMjesta" id="slobodnaMjesta"
                                class="form-control" ng-model="pctrl.novaLinija.slobodnaMjesta" required min="0">
                        </div>
                        <div class="form-group">
                            <label for="cijenaLinije">Cijena linije:</label>
                            <input ng-class="{'is-invalid': korisnikForma['cijena'].$invalid}" type="number" name="cijenaLinije" id="cijenaLinije"
                                min="0"  class="form-control" ng-model="pctrl.novaLinija.cijenaLinije" required>
                        </div>
                        <div class="form-group">
                            
                            <input type="submit" ng-if="pctrl.novaLinija['id']" value="Izmijeni liniju" class="btn btn-outline-dark" ng-disabled = "pctrl.novaLinija.polaziste == pctrl.novaLinija.odrediste">
                            <input type="submit" ng-if="!pctrl.novaLinija['id']" value="Dodaj liniju" class="btn btn-outline-dark" ng-disabled = "pctrl.novaLinija.polaziste == pctrl.novaLinija.odrediste">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>