<style>
    
    .avatar {
        border: 0.3rem solid rgba(#fff, 0.3);
        margin-top: -6rem;
        margin-bottom: 1rem;
        max-width: 9rem;
    }
</style>

<div ng-controller = "TipoviCtrl as tctrl">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top"
                        src="http://map-icons.com/docs/images/social.png"
                        alt="Bologna">
                    <div class="card-body text-center">
                        <img class="avatar rounded-circle"
                            src="https://www.messagepitara.com/public/images/user.png"
                            alt="Bologna">
                        <h4 class="card-title">{{pctrl.korisnik.ime}} {{pctrl.korisnik.prezime}}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Kod: {{pctrl.korisnik.kod}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted" ng-repeat = "tip in tctrl.tipovi" ng-if = "tip['id'] == pctrl.korisnik['tipID']">{{tip['naziv']}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Stanje na racunu: {{pctrl.korisnik.stanje}}</h6>
                        
                        <a ui-sref="izmjenaKorisnika({id: pctrl.korisnik.id})" class="btn btn-outline-info btn-sm">Izmijeni</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>