<style>
        body {
        color: #999;
		/* background: #f5f5f5; */
		font-family: 'Varela Round', sans-serif;
	}
	.form-control {
		box-shadow: none;
		border-color: #ddd;
	}
	.form-control:focus {
		border-color: #4aba70; 
	}
	.login-form {
        width: 350px;
		margin: 0 auto;
		padding: 30px 0;
	}
    .login-form form {
        color: #434343;
		border-radius: 1px;
    	margin-bottom: 15px;
        background: #fff;
		border: 1px solid #f3f3f3;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
	}
	.login-form h4 {
		text-align: center;
		font-size: 22px;
        margin-bottom: 20px;
	}
    .login-form .avatar {
        color: #fff;
		margin: 0 auto 30px;
        text-align: center;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		z-index: 9;
		background: #4aba70;
		padding: 15px;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	}
    .login-form .avatar i {
        font-size: 62px;
    }
    .login-form .form-group {
        margin-bottom: 20px;
    }
	.login-form .form-control, .login-form .btn {
		min-height: 40px;
		border-radius: 2px; 
        transition: all 0.5s;
	}
	.login-form .close {
        position: absolute;
		top: 15px;
		right: 15px;
	}
	.login-form .btn {
		background: #4aba70;
		border: none;
		line-height: normal;
	}
	.login-form .btn:hover, .login-form .btn:focus {
		background: #42ae68;
	}
    .login-form .checkbox-inline {
        float: left;
    }
    .login-form input[type="checkbox"] {
        margin-top: 2px;
    }
    .login-form .forgot-link {
        float: right;
    }
    .login-form .small {
        font-size: 13px;
    }
    .login-form a {
        color: #4aba70;
    }
</style>

<!-- <div>
    <div class="row">
        <div class="col-12">
            <div ng-if="lctrl.status == 'neuspjesno'" class="alert alert-danger" role="alert">
                Sluzbenik sa unijetim podacima nije pronadjen. Pokusajte ponovo!
            </div>
            <div ng-if="lctrl.status == 'prijavljen'" class="alert alert-success" role="alert">
                Sluzbenik uspešno prijavljen.
            </div ng-if="neuspjesno">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form ng-if="lctrl.status != 'prijavljen'" ng-submit="lctrl.login()" name="loginForma">
                <div class="form-group">
                    <label for="naziv">Korisničko ime:</label>
                    <input ng-class="{'is-invalid': loginForma['korisnicko_ime'].$invalid}" type="text"
                        name="korisnicko_ime" id="korisnicko_ime" class="form-control"
                        ng-model="lctrl.sluzbenik.korisnicko_ime" required>
                </div>
                <div class="form-group">
                    <label for="naziv">Lozinka:</label>
                    <input ng-class="{'is-invalid': loginForma['lozinka'].$invalid}" type="password" name="lozinka"
                        id="lozinka" class="form-control" ng-model="lctrl.sluzbenik.lozinka" required>
                </div>
                <div class="form-group">
                    <label for="kod">Kod:</label>
                    <input ng-class="{'is-invalid': loginForma['kod'].$invalid}" type="number" name="kod" id="kod"
                        class="form-control" ng-model="lctrl.sluzbenik.kod" required>
                </div>
                <div class="form-group">
                    <input type="submit" value="Prijava" class="btn btn-primary">
                </div>
            </form>
            <button ng-if="lctrl.status == 'prijavljen'" class="btn btn-primary" ng-click="lctrl.logout()">Odjava</button>
        </div>
    </div>
</div> -->
<div class="col-6">
    <button  class=" btn btn-outline-success" ui-sref="home" ng-if="lctrl.status == 'prijavljen'"> Pocetna</button>
</div>
<br ng-if="lctrl.status == 'prijavljen'">
<br ng-if="lctrl.status == 'prijavljen'">
<br ng-if="lctrl.status == 'prijavljen'">

<div class="col-6">
    <div ng-if="lctrl.status == 'neuspjesno'" class="alert alert-danger" role="alert">
        Sluzbenik sa unijetim podacima nije pronadjen. Pokusajte ponovo!
    </div>
    <div ng-if="lctrl.status == 'prijavljen'" class="alert alert-success" role="alert">
        Sluzbenik uspješno prijavljen.
    </div>
    
</div>

<div class="login-form">
    
    <br>
    <br>
    <form ng-if="lctrl.status != 'prijavljen'" ng-submit="lctrl.login()" name="loginForma">
        <div class="avatar"><i class="material-icons">&#xE7FF;</i></div>
        <h4 class="modal-title">Ulogujte se </h4>
        <div class="form-group">
            
            <input ng-class="{'is-invalid': loginForma['korisnicko_ime'].$invalid}" type="text" name="korisnicko_ime"
                id="korisnicko_ime" class="form-control" ng-model="lctrl.sluzbenik.korisnicko_ime" required placeholder="Korisnicko ime">
        </div>
        <div class="form-group">
            <input ng-class="{'is-invalid': loginForma['lozinka'].$invalid}" type="password" name="lozinka" id="lozinka"
                class="form-control" ng-model="lctrl.sluzbenik.lozinka" required placeholder="Lozinka">
        </div>
        <div class="form-group">
            <input ng-class="{'is-invalid': loginForma['kod'].$invalid}" type="number" name="kod" id="kod" class="form-control"
                ng-model="lctrl.sluzbenik.kod" required placeholder="Kod">
        </div>
        <input type="submit" class="btn btn-primary btn-block btn-lg" value="Prijava">
    </form>
    <button ng-if="lctrl.status == 'prijavljen'" class="btn btn-primary" ng-click="lctrl.logout()">Odjava</button>
</div>