<div ng-controller = "TipoviCtrl as tctrl">
<div class="row">
    
    <div class="col-12">
        <table class="table table-hover">
            <caption>Tabela korisnika</caption>
            <thead class="table-info">
                <tr>
                    <th>#</th>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Kod</th>
                    <th>Stanje</th>
                    <th>Tip</th>
                    <th>Akcije</th>
                </tr>
            </thead c>
            <tbody>
                
                <tr ng-repeat="p in pctrl.korisnici | filter:searchText | orderBy: 'tipID'">
                    
                    <td>{{$index+1}}.</td>
                    
                    <td><a ui-sref="korisnik({id: p['id']})" class="text-info">{{p["ime"]}}</a></td>
                    <td>{{p["prezime"]}}</td>
                    <td>{{p["kod"]}}</td>
                    <td>{{p["stanje"]}}</td>
                    <td ng-repeat = "t in tctrl.tipovi" ng-if = "p['tipID'] == t['id']">{{t["naziv"]}}</td>
                    
                    <td><button class="btn btn-outline-danger btn-sm" ng-click="pctrl.ukloniKorisnika(p['id'])">Ukloni</button></td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <button class="btn btn-outline-info btn-sm" ui-sref="dodavanjeKorisnika">Dodavanje korisnika</button>

    </div>
</div>
</div>