<div ng-controller = "KorisniciCtrl as kctrl">
    <div ng-controller = "LinijeCtrl as lctrl">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                    <div class="card">
                        
                        <div class="card-body text-center">
                            <img class="avatar rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVpxgkHbqaOET65jx1Ua6c7yDTTyCp37TYvbfAA7keozNaRcdz&s"
                                alt="Bologna">
                            <h5 class="card-title">Autobuska karta</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" ng-if="pctrl.karta.povratna == 0">Povratna: Ne</li>
                                <li class="list-group-item" ng-if="pctrl.karta.povratna == 1">Povratna: Da</li>
                                <li class="list-group-item" ng-repeat="k in kctrl.korisnici" ng-if="pctrl.karta.korisnikID == k['id']">Korisnik:
                                    {{k['ime']}}
                                    {{k['prezime']}}</li>
                                <li class="list-group-item" ng-repeat = "l in lctrl.linije" ng-if = "pctrl.karta.linijaID == l['id']">Linija: {{pctrl.naziviGradova[l['polaziste']]['naziv']}} : {{l['vrijemePolaska']}} -- {{pctrl.naziviGradova[l['odrediste']-2]['naziv']}} : {{l['vrijemeDolaska']}} </li>
                                <li class="list-group-item">Cijena: {{pctrl.karta.cijena}}</li>
                            </ul>
                            <br>
                            <a ui-sref="izmjenaKarte({id: pctrl.karta.id})"
                                class="btn btn-outline-info btn-sm">Izmijeni</a>
        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
